<% provide(:title, "Edit club profile") %>
<div class="center">
  <%= link_to "Preview profile", club_path %>
</div>

<h1>Edit Club Profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@current_user.club) do |f| %>
      <%= render 'shared/error_messages', object: @current_user.club %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :website_url, 'Website URL' %>
      <%= f.text_field :website_url %>

      <%= f.label :logo, 'Club logo or image' %>
      <%= f.file_field :logo %>
  </div>
  <div class="span6 offset3">
    
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>