<% provide(:title, 'Create club profile') %>
<h1>Create club profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@club) do |f| %>
      <%= render 'shared/error_messages', object: @club %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :website_url %>
      <%= f.text_field :website_url %>

      <%= f.submit "Create club", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>