<% provide(:title, @club.name) %>
<div class = "span6 offset3">
  <div class="row">
    <section>
      <h1>
        <%= image_tag @club.logo.url(:thumb) %>
        <%= @club.name %>
      </h1>
    </section>

    <section>
      <p>
        <%= @club.description %>
        <br><%= link_to @club.website_url, @club.website_url %>
      </p>
      <%= render 'follow_form'%>
    </section>

    <section>
      <h2>Club Events</h2>
      <% if @events.any? %>
  	    <ul class="clubs">
  	      <% @events.each do |event| %>
  			    <li>
              <%= l event.start %>
              <%= link_to event.name, event %>
            </li>
  	  		<% end %>
  	    </ul>
      <% else %>
        <em>No events yet.</em>
  	  <% end %>
  </section>
  </div>
</div>