<% provide(:title, 'Provide admin details') %>
<h1>Add details</h1>

<div class="row">
  <div class="span6 offset3">
    <em>Please provide further information for our records.</em>
    <%= form_for(@admin_detail) do |f| %>
      <div><%= f.hidden_field :admin_id %></div>
      <%= render 'shared/error_messages', object: @admin_detail %>

      <%= f.label :position, 'Position in club' %>
      <%= f.text_field :position %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.submit "Add details", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>