<% provide(:title, 'Add a registered club') %>
<h1>Add a registered club to the database</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@registered_club) do |f| %>
      <%= render 'shared/error_messages', object: @registered_club %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :uni_club_id, 'Uni Club ID' %>
      <%= f.text_field :uni_club_id %>

      <%= f.submit "Continue", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>