<div class="span8">
  <ul>
    <li><%= link_to "Edit event", edit_event_path %></li>
    <li><%= link_to "Post ad", ads_event_path %></li>
    <li><%= link_to "Post announcement", announcements_event_path %></li>
    <li><%= link_to "Reports", '#' %></li>
    <li><%= link_to "Delete event", '#' %></li>
  </ul>
</div>