<div class="center">
	<%= link_to "Edit event", edit_event_path, class: "btn btn-primary" %></li>
	<%= link_to "Post ad", ads_event_path, class: "btn btn-primary" %></li>
	<%= link_to "Post announcement", announcements_event_path, class: "btn btn-primary" %></li>
	<%= link_to "Sales report", sales_event_path, class: "btn btn-primary" %></li>
	<%= link_to "Delete event", '#', class: "btn btn-primary" %></li>
</div>