<div class="span8">
  <ul>
    <li><%= link_to "Edit event", edit_event_path %></li>
    <li><%= link_to "Post ad", new_ad_path (event_id: @event.id) %></li>
    <li><%= link_to "Post announcement", '#' %></li>
    <li><%= link_to "Reports", '#' %></li>
    <li><%= link_to "Delete event", '#' %></li>
  </ul>
</div>