<% provide(:title, 'Browse events') %>
<h1>Browse events</h1>

<!--search bar -->
<div class = "span5 offset3">
	<%= form_tag events_path, method: 'get' do %>
	  <%= text_field_tag :search, params[:search] %>
</div>
<div class = "span1">
	  <button type = "submit" class="btn">Search</button>
	<% end %>
</div>

<!--event list -->
<div class = "span6 offset3">
	<ol class="clubs">
	  <% @events.each do |event| %>
	    <li>
	      <%= link_to image_tag(event.banner.url(:thumb)), event %>
	      <%= event.start.strftime("%d %b %y %H:%M") %> 
	      &nbsp;&nbsp;
	      <%= link_to event.name, event %>     
		</li>
	  <% end %>
	</ol>
</div>