<% provide(:title, @event.name) %>
<div class="row">


      <h1>
        <%= @event.name %>
      </h1>
      <% if admin? %>
        <div class="span8">
          <ul>
            <li><%= link_to "Edit event", edit_event_path %></li>
            <li><%= link_to "Post ad", ads_event_path %></li>
            <li><%= link_to "Post announcement", '#' %></li>
            <li><%= link_to "Reports", '#' %></li>
            <li><%= link_to "Delete event", '#' %></li>
          </ul>
        </div>
      <% end %>
      <ul>
        <li>Hosted by: <%= @event.club.name %></li>
      	<li><%= @event.date %></li>
      	<li><%= @event.start_time %></li>
      	<li><%= @event.end_time %></li>
      	<li><%= @event.location %></li>
      	<li><%= @event.description %></li>
        <li><%= @event.ticket_price %></li>
      </ul>
      </div>
      <%= render 'join_form'%>
      <%= render 'post_form'%>

      <% if @posts.any? %>
        <%= render "posts" %>
      <% end %>
</div>