<% provide(:title, @event.name) %>
<div class="row">
      <h1>
        <%= @event.name %>
      </h1>
      <ul>
      	<li><%= @event.date %></li>
      	<li><%= @event.start_time %></li>
      	<li><%= @event.end_time %></li>
      	<li><%= @event.location %></li>
      	<li><%= @event.description %></li>
        <li><%= @event.ticket_price %></li>
      </ul>
      </div>
      <%= render 'join_form'%>
      <%= render 'post_form'%>

      <% if @posts.any? %>
        <ul>
        <% @posts.each do |post|%>
          <li>
            <span class="content">
              <%= post.user %>
              <%= post.content %>
            </span>
          </li>
        <% end %>
      </ul>
      <% end %>
</div>