<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "club-biz", root_path, id: "logo" %>
      <nav>
        <% if signed_in? and student? %>
          <ul class="nav pull-left">
            <li><%= link_to "Browse Events", '#' %></li>
            <li><%= link_to "Browse Clubs", clubs_path %></li>
          </ul>

          <ul class="nav pull-right">
            <li><%= link_to "My Events", '#' %></li>
            <li><%= link_to "My Clubs", clubs_student_path(current_user) %></li>
            <li><%= link_to "Messages", '#' %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>



        <% elsif signed_in? and admin? %>
          <ul class="nav pull-left">
            <li><%= link_to "Create Event", new_event_path %></li>
            <li><%= link_to "Manage Events", events_admin_path(current_user) %></li>
            <li><%= link_to "Form Group", '#' %></li>
            <li><%= link_to "Groups", '#' %></li>
            <li><%= link_to "Create Club Profile", new_club_path %></li>
            <li><%= link_to "Edit Club Profile", edit_club_path(current_user.club) %></li>
          </ul>

          <ul class="nav pull-right">
            <li><%= link_to "Messages", '#' %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
        <% end %>
      </nav>
    </div>
  </div>
</header>